Source: efreet
Section: libs
Priority: optional
Maintainer:  Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <albin.tonnerre@gmail.com>, Xavier Oswald <x.oswald@free.fr>
Build-Depends: debhelper (>= 6), cdbs, libecore-dev, libecore-file-dev, doxygen
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/pkg-e/libs/efreet.git
Vcs-Browser: http://git.debian.org/?p=pkg-e/libs/efreet.git
Homepage: http://www.enlightenment.org

Package: libefreet0
Architecture: any
Depends: ${shlibs:Depends}
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu

Package: libefreet-mime0
Architecture: any
Depends: ${shlibs:Depends}
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL).
 .
 This library provides function for dealing with mime.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: libefreet0 (= ${binary:Version}), libecore-dev, libecore-file-dev
Description: Development files for libefreet0
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This packages contains headers and static libraries for Efreet.

Package: libefreet-mime-dev
Section: libdevel
Architecture: any
Depends: libefreet-mime0 (= ${binary:Version})
Description: Development files for libefreet0
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). This library provides function for dealing
 with mime.
 .
 This packages contains headers and static libraries for Efreet-mime

Package: libefreet-doc
Section: doc
Architecture: all
Enhances: libefreet-dev, libefreet-mime-dev
Description: libefreet0 API documentation
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package contains HTML documentation for development with libefreet.
