#!/usr/bin/make -f

CFLAGS += -fvisibility=hidden

binary: binary-indep binary-arch
binary-indep: build-doc-stamp

build-doc-stamp: build
	$(MAKE) doc
	touch $@

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	--disable-rpath \
	--enable-doc

override_dh_makeshlibs:
	dh_makeshlibs -V
